<h1>This is the first project</h1>
<app-login></app-login>
<app-signup></app-signup>
<h2>Alert</h2>
<button (click)="getName()">Name</button>
<br><br>
<h2>Click Event</h2>
<button (click)="myEvent('click event')">Click Me</button>
<br><br>
<h2>Enter Event</h2>
<input type="text" #box (keyup.enter)="myEvent(box.value)" />
<br><br>
<h2>Two Functions</h2>
<input type="text" #blur (keyup.enter)="myEvent(blur.value)" (blur)="myEvent(blur.value)" />
<br><br>
<h2>Get Textbox Value</h2>
<input type="text" #currentvalue />
<button (click)="getVal(currentvalue.value)">Get Value</button>
<h2>{{currentVal}}</h2>
<br><br>
<h2>Property Binding</h2>
<input type="text" [disabled]="disableboxes" [value]=name />
<br><br>
<input type="text" disabled={{disableboxes}} value={{name}} />
<br><br>
<button (click)="enableBoxes()">Enable TextBoxes</button>
<br><br>

<!-- <h1 *ngIf="show=='yes'; then ifBlock Else elseBlock" >
    If Block
</h1>

<ng-template #ifBlock>
    <h1>If Block 2</h1>
</ng-template>

<ng-template #elseBlock>
    <h1>Else Block</h1>
</ng-template> -->
<h1>If Else Function</h1>
<ng-template [ngIf]="show=='red'">
	<h4> Red Block</h4>
</ng-template>
<ng-template [ngIf]="show=='green'">
	<h4>Green Block</h4>
</ng-template>
<ng-template [ngIf]="show=='blue'">
	<h4>Blue Block</h4>
</ng-template>

<br><br>
<h1>Angular Switch</h1>
<div [ngSwitch]="color">
	<h4 style="color: red;" *ngSwitchCase="'red'">
		Red Color
	</h4>
	<h4 style="color: green;" *ngSwitchCase="'green'">
		Green Color
	</h4>
	<h4 style="color: blue;" *ngSwitchCase="'blue'">
		Blue Color
	</h4>
	<h4 style="color: yellow;" *ngSwitchCase="'yellow'">
		Yellow Color
	</h4>
</div>
<br><br>
<h1>Loop in Angular</h1>
<h3 *ngFor ="let item of data">
	{{item.name}}
	{{item.age}}
</h3>

<br><br>

<h1>Loop on more then one array</h1>
<table border="1">
	<tr>
		<td>Name</td>
		<td>Age</td>
		<td>Email</td>
		<td>Number</td>
	</tr>
	<tr *ngFor ="let item of data">
		<td>{{item.name}}</td>
		<td>{{item.age}}</td>
		<td>{{item.email}}</td>
		<td>{{item.number}}</td>
	</tr>
</table>
<br><br>

<form #sampleForm="ngForm" (ngSubmit)="getUserValue(sampleForm.value)">
	<input type="text" ngModal name="Username" placeholder="Enter Username" /><br><br>
	<input type="text" ngModal name="Address" placeholder="Enter Address" /><br><br>
	<input type="password" ngModal name="Password" placeholder="Enter Password" /><br><br>
	<button>Submit</button>
</form>

<br><br>