<app-header></app-header>

<a routerLink="Admin" > Admin</a>
<br>
<a routerLink="about" >About Us</a>
<br>
<a routerLink="Public" > Public</a>
<br>
<a routerLink="contact" >Contact Us</a>
<router-outlet></router-outlet>

<div *ngFor="let data of child" >
  <app-child [hero]="data"></app-child>
</div>

<h3 appCustomStyle> hello world</h3>

<h1>This is the first project</h1>
<app-login></app-login>
<app-signup></app-signup>
<h2>Alert</h2>
<button (click)="getName()">Name</button>
<br><br>
<h2>Click Event</h2>
<button (click)="myEvent('click event')">Click Me</button>
<br><br>
<h2>Enter Event</h2>
<input type="text" #box (keyup.enter)="myEvent(box.value)" />
<br><br>
<h2>Two Functions</h2>
<input type="text" #blur (keyup.enter)="myEvent(blur.value)" (blur)="myEvent(blur.value)" />
<br><br>
<h2>Get Textbox Value</h2>
<input type="text" #currentvalue />
<button (click)="getVal(currentvalue.value)">Get Value</button>
<h2>{{currentVal}}</h2>
<br><br>
<h2>Property Binding</h2>
<input type="text" [disabled]="disableboxes" [value]=name />
<br><br>
<input type="text" disabled={{disableboxes}} value={{name}} />
<br><br>
<button (click)="enableBoxes()">Enable TextBoxes</button>
<br><br>

<!-- <h1 *ngIf="show=='yes'; then ifBlock Else elseBlock" >
    If Block
</h1>

<ng-template #ifBlock>
    <h1>If Block 2</h1>
</ng-template>

<ng-template #elseBlock>
    <h1>Else Block</h1>
</ng-template> -->

<h1>If Else Function</h1>
<ng-template [ngIf]="show=='red'">
	<h4> Red Block</h4>
</ng-template>
<ng-template [ngIf]="show=='green'">
	<h4>Green Block</h4>
</ng-template>
<ng-template [ngIf]="show=='blue'">
	<h4>Blue Block</h4>
</ng-template>

<br><br>
<h1>Angular Switch</h1>
<div [ngSwitch]="color">
	<h4 style="color: rgb(129, 1, 1);" *ngSwitchCase="'red'">
		Red Color
	</h4>
	<h4 style="color: rgb(0, 61, 0);" *ngSwitchCase="'green'">
		Green Color
	</h4>
	<h4 style="color: rgb(0, 153, 255);" *ngSwitchCase="'blue'">
		Blue Color
	</h4>
	<h4 style="color: rgb(255, 255, 16);" *ngSwitchCase="'yellow'">
		Yellow Color
	</h4>
</div>
<br><br>
<h1>Loop in Angular</h1>
<h3 *ngFor ="let item of data">
	{{item.name}}
	{{item.age}}
</h3>

<br><br>

<h1>Loop on more then one array</h1>
<table border="1">
	<tr>
		<td>Name</td>
		<td>Age</td>
		<td>Email</td>
		<td>Number</td>
	</tr>
	<tr *ngFor ="let item of data">
		<td>{{item.name}}</td>
		<td>{{item.age}}</td>
		<td>{{item.email}}</td>
		<td>{{item.number}}</td>
	</tr>
</table>
<br><br>

<form #sampleForm="ngForm" (ngSubmit)="getUserValue(sampleForm.value)">
	<input type="text" ngModal name="Username" placeholder="Enter Username" /><br><br>
	<input type="text" ngModal name="Address" placeholder="Enter Address" /><br><br>
	<input type="password" ngModal name="Password" placeholder="Enter Password" /><br><br>
	<button>Submit</button>
</form>

<br><br>

<h2 [style.color]="color">Dynamic color</h2>

<button (click)="updateColor()">Update Color</button>
<br><br>

<h1>Bootstrap Alert</h1>

<div *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</div>
<br><br>

<h1>bootstrap buttons</h1>

<div class="btn-group btn-group-toggle">
	<label class="btn-primary" ngbButtonLabel>
	  <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
	</label>
	<label class="btn-primary" ngbButtonLabel>
	  <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
	</label>
	<label class="btn-primary" ngbButtonLabel>
	  <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
	</label>
</div>

<br><br>

<button mat-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>

<mat-slider
  tickInterval="1000"
  min="1"
  max="100000">
</mat-slider>

<br><br>
<H2>How to use pipes in angular</H2>
<p>{{fullname | titlecase }}</p>
<p>{{today | date:'full' }}</p>
<p>{{str | slice:2 }}</p>
<p>{{val | currency:'USD' }}</p>
<br><br>

<app-footer></app-footer>
